html, body {
	margin: 0; 
	padding: 0; 
	background: #fff; // linear-gradient(#112294, #0C80F5);

}

html {

	font-size: 90%;

	@media (min-width : $breakpoint-bax) {
		font-size: 100%;
	}
}

body {
	color: $zwart;
	// padding-top: 60px;
	width: 100vw;
	overflow-x: hidden;
 }

.noscript { display: none; }

main {
	width: 100vw;
	//overflow-x: hidden;
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}